.header {
    font-size: 2rem;
    background-color: var(--color-grey-dark-2);

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__description {
        padding: var(--header-description-padding);
    }

    &__name {
        flex: 0 0 var(--sidebar-width);
        width: 40rem;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}   