.content {
  font-size: var(--font-size-content-paragraph);
}

.header {
  &__paragraph {
    font-size: var(--font-size-header-paragraph);
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &__name {
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}
